<app-navbar></app-navbar>
<div class="container">
  <button class="btn btn-primary mt-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#searchStaticBackdrop"
    aria-controls="staticBackdrop">
    Search Challenge
  </button>
  <div class="col-auto">
    <button class="btn btn-primary mt-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
      aria-controls="staticBackdrop">
      Create Challenge
    </button>
    
  </div>
    <div class="abs-center mt-3" *ngFor="let challenge of challenges; let i index">
        <div class="card w-50" >
            <div class="card-header">
              Owner: {{challenge.userAdmin}}
            </div>
            <div class="card-body text-center">
              <h5 class="card-title">{{challenge.name}}</h5>
              <p class="card-text">Category: {{challenge.class}}</p>
              <p class="card-text">{{challenge.activity_Type}}</p>
              <p class="card-text">Start date: {{challenge.startDate}} </p>
              <p class="card-text">End Date: {{challenge.endDate}}</p>
              <p class="card-text">Objective: {{challenge.objective}} Km</p>

              <p class="card-text" *ngIf="!completed">Your progress: {{challenge.progress}} Km</p>
              <p class="card-text" *ngIf="completed">Challenge Completed!!</p>
              
              
              
              
            </div>
          </div>
    </div>
    
</div>


<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="searchStaticBackdrop"
  aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header ">
    <h5 class="offcanvas-title " id="staticBackdropLabel">Create Challenge!</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" [(ngModel)]="challengeToFind" [ngModelOptions]="{standalone: true}"
          placeholder="Challenge Name" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" (click)="searchChallenge()">Search</button>
      </form>
    </div>
    <div class="mt-1 mb-2 row justify-content-center" *ngFor="let challenge of challengesToShow; let i index">
      <div class="card mb-3" style="max-width: 540px;">

          <div class="card-body">
            <h5 class="card-title">{{challenge.name}}</h5>
            <p class="card-text">Category: {{challenge.class}}</p>
            <p class="card-text">{{challenge.activity_Type}}</p>
            <p class="card-text">Start date: {{challenge.startDate}} </p>
            <p class="card-text">End Date: {{challenge.endDate}}</p>

            <a class="btn btn-primary" (click)="getInChallenge(i)">Complete Challenge!!</a>
          </div>
      </div>
  </div>
    
  </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
  aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header ">
    <h5 class="offcanvas-title " id="staticBackdropLabel">Create Challenge!</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <form [formGroup]="form" (submit)="ceateChallenge()" style="max-width: 300px;margin: auto;">

        <div class="form-floating">
          <input required type="text" id="raceName" placeholder="Race Name" class="form-control mb-1"
            formControlName="Name">
          <label for="floatingInput">Challenge Name</label>
        </div>

        
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="0" id="privacy" formControlName="Privacy" (change)="private()">
          <label class="form-check-label" for="flexCheckDefault">
            Private
          </label>
        </div>
        
        <div *ngIf="isPrivate">
          <div formArrayName="GroupsArray" *ngFor="let group of GroupsArray.controls; let i= index">
            <div [formGroupName]="i">
              <div class="form-floating flex-grow-1 input-group mb-3 mt-2">
                <input id="group" class="form-control " type="text" formControlName="GroupsArray" placeholder="Group">
                <label for="floatingInput">Group</label>
                <button type="button" id="button-addon1" class="btn btn-outline-danger" (click)="deleteGroup(i)">Remove
                  Group</button>
              </div>
        
            </div>
          </div>
          <button type="button" id="button-addon1" class="btn btn-sm btn-primary btn-block" (click)="addGroup()">Add
            Group</button>
        </div>

        <div>
          <label for="floatingInput">Start Day</label>
          <input required type="datetime-local" id="Start" class="form-control mb-2" [(ngModel)]="start"
            [ngModelOptions]="{standalone: true}">
        </div>

        <div>
          <label for="floatingInput">End Day</label>
          <input required type="datetime-local" id="End" class="form-control mb-2" [(ngModel)]="end"
            [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-floating mb-2">
          <select class="form-select" [(ngModel)]="category" [ngModelOptions]="{standalone: true}"
            aria-label="Default select example">
            <option value="Junior" selected>Junior</option>
            <option value="Sub-23">Sub-23</option>
            <option value="Open">Open</option>
            <option value="Elite">Elite</option>
            <option value="Master A">Master A</option>
            <option value="Master B">Master B</option>
            <option value="Master C">Master C</option>
          </select>
          <label for="floatingSelect">Category</label>
        </div>

        <div class="form-floating">
          <select class="form-select" [(ngModel)]="type" [ngModelOptions]="{standalone: true}"
            aria-label="Default select example">
            <option value="Running" selected>Running</option>
            <option value="Swimming">Swimming</option>
            <option value="Cycling">Cycling</option>
            <option value="Hiking">Hiking</option>
            <option value="Kayaking">Kayaking</option>
            <option value="Walking">Walking</option>
          </select>
          <label for="floatingSelect">Type</label>
        </div>

        <div class="form-floating mt-2">
          <input required type="number" id="objective" placeholder="Objective" class="form-control mb-1"
            formControlName="Objective">
          <label for="floatingInput">Objective Km</label>
        </div>


        <div style="margin-top:20px" *ngIf="alert" class="alert alert-{{typeAlert}} alert-dismissible" role="alert">
          {{alertMessage}}
          <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
        </div>

        <div class="mt-3 mb-5 d-grid gap-2 justify-content-center">
          <button id="signUp" class="btn btn-lg btn-primary btn-block">Create</button>

        </div>
      </form>
    </div>
  </div>
</div>
