<app-navbar></app-navbar>
<div class="container">
  <div class="col-auto">
    <button class="btn btn-primary mt-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
      aria-controls="staticBackdrop">
      Create Race
    </button>
    <div class="paypopup" id="paypopup">
      <form class="formContainer" id="paypopupform">
        <h2>Please enter the voucher code</h2>
        <div *ngFor="let paid of pay; let p = index">
          {{'Race Name: '+paid.name }}
          <br/>
          {{'Cost: ' + paid.cost}}
          <br/>
          <input [(ngModel)]="voucher" name="voucher" type="text" id="voucher" style="padding: 6px 2px;"/>
          <button type="button" style = "margin: 0px 2px; background-color: green;" class="btn btn-primary" (click)="paysubmitForm(paid.id)" >Pay</button>
        </div>
        <br/>
        <br/>
        <button type="button" style = "margin: 0px 2px;" class="btn btn-primary" (click)="paycloseForm()">Close</button>
      </form>
    </div>
    <button class="btn btn-primary mt-3" type="button" style = "margin: 0px 2px;" (click)="payopenForm()">
      Races to pay
    </button>
  </div>
  <div class="abs-center mt-3" *ngFor="let race of races; let i = index">
    <div class="card w-50">
      <div class="card-header">
        Owner: {{race.userAdmin}}
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">{{race.name}}</h5>
        <p class="card-text">Category: {{race.category}}</p>
        <p class="card-text">{{race.activity_Type}}</p>
        <p class="card-text">Start date: {{race.startDate}} </p>
        <p class="card-text">Cost: {{race.cost}}$ </p>
        <p class="card-text">Route: {{race.route}} </p>

        <input type="button" (click)="openForm(race.Id)" style = "margin: 0px 2px;" class="btn btn-primary"  value="Enroll Race!!" />

        
          <div class="registerpopup" id="registerpopup">
            <form class="formContainer" id="registerpopupform">
              <h2>Please select category</h2>
              <select [(ngModel)]="optionselect" id="usr-slct" name="optionselect">
                <option [ngValue]="null" disabled>Select Category</option>
                <option *ngFor="let category of categories" [ngValue]="category.name">{{category.name}}</option>
              </select>
              <br/>
              <br/>
              <button type="button" style = "margin: 0px 2px;" class="btn btn-primary" (click)="submitForm()" >Register!!</button>
              <button type="button" style = "margin: 0px 2px;" class="btn btn-primary" (click)="closeForm()">Close</button>
            </form>
          </div>
        

        <div class="wrapper" id="printableArea{{i}}" >
          <div class="tabless">
            <div class="rows header">
              <div class="cell">
                Frist Name
              </div>
              <div class="cell">
                Last Name
              </div>
              <div class="cell">
                Age
              </div>
              <div class="cell">
                Category
              </div>
            </div>
            <div class="rows"  *ngFor="let item of participants; let o = index">
              <div class="cell" data-title="FirstName">
                {{item.FirstName}}
              </div>
              <div class="cell" data-title="LastName">
                {{item.LastName}}
              </div>
              <div class="cell" data-title="Age">
                {{item.Age}}
              </div>
              <div class="cell" data-title="CategoryName">
                {{item.CategoryName}}
              </div>
            </div>
          </div>
        </div>
      
        <input type="button" style = "margin: 0px 2px;" class="btn btn-primary" (click)="printDiv(i, race.Id)" value="Pacticipants" />

        <div class="wrapper" id="Area{{i}}" >
          <div class="tabless">
            <div class="rows header">
              <div class="cell">
                Frist Name
              </div>
              <div class="cell">
                Last Name
              </div>
              <div class="cell">
                Age
              </div>
              <div class="cell">
                Duration
              </div>
              <div class="cell">
                Category
              </div>
            </div>
            <div class="rows"  *ngFor="let record of records; let o = index">
              <div class="cell" data-title="FirstName">
                {{record.FirstName}}
              </div>
              <div class="cell" data-title="LastName">
                {{record.LastName}}
              </div>
              <div class="cell" data-title="Age">
                {{record.Age}}
              </div>
              <div class="cell" data-title="Duration">
                {{record.Duration}}
              </div>
              <div class="cell" data-title="CategoryName">
                {{record.CategoryName}}
              </div>
            </div>
          </div>
        </div>
      
        <input type="button" style = "margin: 0px 2px;" class="btn btn-primary" (click)="printRecord(-i, race.Id)" value="Record" />
        
      </div>
    </div>
  </div>
  
  



<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
  aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header ">
    <h5 class="offcanvas-title " id="staticBackdropLabel">Create Race!</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <form [formGroup]="form" (submit)="getRace()" style="max-width: 300px;margin: auto;">

        <div class="form-floating">
          <input required type="text" id="raceName" placeholder="Race Name" class="form-control mb-1"
            formControlName="Name">
          <label for="floatingInput">Race Name</label>
        </div>

        <div>
          <label for="inputGroupFile02" class="text-left ">Route</label>
          <div class="input-group">
            <input required (change)="getFile($event)" type="file" accept="image/*" class="form-control mb-3"
              id="inputGroupFile02">
          </div>
        </div>

        <div class="form-floating">
          <input required type="number" id="cost" placeholder="Cost" class="form-control mb-1"
            formControlName="Cost">
          <label for="floatingInput">Cost $</label>
        </div>
        
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="0" id="privacy" formControlName="Privacy" (change)="private()">
          <label class="form-check-label" for="flexCheckDefault">
            Private
          </label>
        </div>
        
        <div *ngIf="isPrivate">
          <div formArrayName="GroupsArray" *ngFor="let group of GroupsArray.controls; let i= index">
            <div [formGroupName]="i">
              <div class="form-floating flex-grow-1 input-group mb-3 mt-2">
                <input id="group" class="form-control " type="text" formControlName="GroupsArray" placeholder="Group">
                <label for="floatingInput">Group</label>
                <button type="button" id="button-addon1" class="btn btn-outline-danger" (click)="deleteGroup(i)">Remove
                  Group</button>
              </div>
        
            </div>
          </div>
          <button type="button" id="button-addon1" class="btn btn-sm btn-primary btn-block" (click)="addGroup()">Add
            Group</button>
        </div>

        <div>
          <label for="floatingInput">Start Day</label>
          <input required type="datetime-local" id="Start" class="form-control mb-2" [(ngModel)]="start"
            [ngModelOptions]="{standalone: true}">
        </div>

        <label>Category</label>
        <div class="form-floating mb-2">
          <select class="form-select" [(ngModel)]="category" [ngModelOptions]="{standalone: true}"
            aria-label="Default select example" multiple>
            <option value="Junior" selected>Junior</option>
            <option value="Sub-23">Sub-23</option>
            <option value="Open">Open</option>
            <option value="Elite">Elite</option>
            <option value="Master A">Master A</option>
            <option value="Master B">Master B</option>
            <option value="Master C">Master C</option>
          </select>
        </div>

        <div class="form-floating">
          <select class="form-select" [(ngModel)]="type" [ngModelOptions]="{standalone: true}"
            aria-label="Default select example">
            <option value="Running" selected>Running</option>
            <option value="Swimming">Swimming</option>
            <option value="Cycling">Cycling</option>
            <option value="Hiking">Hiking</option>
            <option value="Kayaking">Kayaking</option>
            <option value="Walking">Walking</option>
          </select>
          <label for="floatingSelect">Type</label>
        </div>


        <div style="margin-top:20px" *ngIf="alert" class="alert alert-{{typeAlert}} alert-dismissible" role="alert">
          {{alertMessage}}
          <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
        </div>

        <div class="mt-3 mb-5 d-grid gap-2 justify-content-center">
          <button id="signUp" class="btn btn-lg btn-primary btn-block">Create</button>

        </div>
      </form>
    </div>
  </div>
</div>