<app-navbar></app-navbar>
<div class="container">
    <div class="abs-center mt-3" *ngFor="let activity of activities; let i index">
        <div class="card w-50" >
            <div class="card-header">
              {{activity.User}}
            </div>
            <div class="card-body ">
              <h5 class="card-title text-center">Made a {{activity.Type}} activity</h5>
              <p class="card-text">Starting at: {{activity.Start}}</p>
              <p class="card-text">Distance: {{activity.Distance}}</p>
              <!--<img src={{activity.Route}} class="card-img-top" alt="...">-->
              <p class="card-text">{{activity.Route}} </p>
              
              
            </div>
            <div class="card-footer bg-transparent ">
                <button class="btn btn-link" type="button" id="commentBtn" data-bs-toggle="modal" 
                data-bs-target="#exampleModal" (click)="showComments(i)" >
                  Add a comment
                </button>
            </div>

          </div>
    </div>
    
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        SHOW COMMENTS API
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
