<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #8c5ace;">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="home()">StraviaTEC</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="challenge()">Challenges</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="race()">Races</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="myAct()">My Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="friends()">My Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="groups()">My Groups</a>
        </li>

      </ul>
    </div>
    <div>
      <button (click)="LogOut()" class="btn btn-primary ml-1">Log Out</button>
    </div>
  </div>
</nav>