.btn-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #7742BE;
    --bs-btn-border-color: #7742BE;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-bg: #8c5ace;
    --bs-btn-hover-border-color: #8c5ace;
    --bs-btn-active-bg: #7742BE;
    --bs-btn-active-shadow: #7742BE;
    --bs-btn-focus-shadow-rgb: to-rgb(#7742BE);
  }