<app-navbar></app-navbar>
<div class="mt-3 row justify-content-center">
    <div class="mt-1 mb-2 row justify-content-center" *ngFor="let f of friend; let i index">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img [src]="friendImagesBlob.get(f.user)" alt="User profile picture" class="round-circle">

                    <ng-template #noImageFound>
                        <img src="assets\generic_user_icon.png" alt="Fallbackimage" class="round-circle">
                    </ng-template>
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{f.user}}</h5>
                        <p class="card-text">{{f.firstName}} {{f.lastName1}}</p>
                        <p class="card-text">{{f.birthDate}}</p>
                        <a class="btn btn-primary">algo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>